.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header  */
#header_container #Header{
  display: flex;
  justify-content: space-between;
  /* background-color: azure; */
  border: 1px solid black;
}
#header_container #Header .logo{
  padding: 20px 20px 10px 90px;
}
#header_container #Header .logo img{
  width: 100px;
  border-radius: 60%;
}
#header_container #Header .nav_items{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header_container #Header .nav_items h2 a{
  /* padding: 20px;
  font-weight: 100; */
  text-decoration: none;
  color: black;
}
#header_container #Header .banner h2{
  font-size: 45px;
}

/* Search  */
#header_container > div.search{
  border: 1px solid black;
  height: 70px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 8%;
  gap: 1rem;
}

#header_container > div.search > input{
  height: 35px;
  border-radius: 5px;
  outline: none;
}

#header_container > div.search > button{
  height: 35px;
  border-radius: 5px;
  outline: none;
  color: darkcyan;
  background-color: aquamarine;
}

/* Cards */
/* height: 100%; */
/* display: grid;
column-gap: 10px;
row-gap: 10px;
grid-template-rows: 350px 350px 350px 350px 350px;
grid-template-columns: 300px 300px 300px 300px 300px; */
/* margin: 0 20px; */

/* #items > div > div.card_img:hover + .class_details p{
  transition-duration: 0.1s;
  font-size: 18px;
}  */
/* working  */

/* #items{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: auto;
}

#items > div.card {
  width: 250px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.301);
}
#items > div.card:hover{
  box-shadow: rgba(103, 120, 137, 0.434) 20px 20px 30px,rgba(103, 120, 137, 0.388) -20px -20px 30px;
  background-color: #f0f0f0;
  transition-duration: 0.7s;
  cursor: pointer;
}

card and Image In card
#items > div > div.card_img{
  width: 100%;
  height: 180px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  color: yellow;
}
#items > div > div.card_img > img {
  
}
.costfortwo{
  margin: 0;
  position: absolute;
  bottom: 8px;
  left: 10px;
  -webkit-text-stroke: 1px red;
}

#items> div.card > .class_details{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#items > div.card > .class_details p{
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#items > div:nth-child(7) > div.class_details > h3{
  padding: 5px 5px 5px 5px;
  margin: 0px;
}

#items > div.card > .class_details .res-name{
  font-weight: 500;
  font-size: 18px;
  margin: 10px 10px 5px 10px;
  word-wrap: wrap;
}
#items > div > div.class_details > p.cuisines{
  font-weight: 500;
  text-wrap: wrap;
  font-size: 15px;
}
#items > div > div.class_details > p.cuisines span{
  text-wrap: wrap;
}
#items > div:nth-child(2) > div.class_details > p:nth-child(3){
  padding: 5px 0;
} */

/* Search bar and button  */
#header_container > div.Search{
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Cards  */
#items{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 20px 0;
  
}
#items > a{
  width: 20%;
  color: black;
  text-decoration: none;
}
#items > a > .card{
  /* width: 100%;
  border: 1px solid black;
  border-radius: 10px 10px; */
  width: 100%;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.301);
}
#items > a > .card:hover{
  box-shadow: rgba(103, 120, 137, 0.434) 20px 20px 30px,rgba(103, 120, 137, 0.388) -20px -20px 30px;
  background-color: #f0f0f0;
  transition-duration: 0.7s;
  cursor: pointer;
}
#items > a > div > div.card_img{
  /* width: 100%; */
  width: 100%;
  height: 180px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  color: yellow;
}
#items > a > div > div.card_img > img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
#items > a > div > div.class_details{
  /* width: 100%; */
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 20px 0; */
}
#items > a > div > div.class_details > h3{
  margin: 7px;
  padding: 5px 5px 5px 5px;
}
#items > a > div > div.class_details > p{
  width: 100%;
  margin: 1px 10px;
}
.costfortwo{
  margin: 0;
  position: absolute;
  bottom: 8px;
  left: 10px;
  -webkit-text-stroke: 1px red;
}



/* shimmer UI  */

#shimmer-container{
  display: flex;
  flex-direction: column;
}

#shimmer-container .shimmer-navbar{
  height: 150px;
  background-color: #f0f0f0;
  margin: 20px;
  border-radius: 10px;
}

#shimmer-container .shimmer-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 20px 40px;
}

#shimmer-container .shimmer-cards .card{
  width: 250px;
  height: 350px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.login{
  height: 30px;
  width: 70px;
  border-radius: 5px;
  outline: none;
}

/* search+button+ filter  */

.Search{
  display: flex;
  padding: 10px;
  column-gap: 1rem;
}